<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
    <meta name="renderer" content="webkit"> 
    <meta name="Keywords" content="">

    <meta name="Description" content="">


    <!-- Stylesheets
    ============================================= -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style-all.css" type="text/css" />

    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>


<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?8f6f6a44f08006c8bf1f485c0c1da1af";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

    <!-- Document Title
    ============================================= -->
	<title>赛事活动  成都赤晓</title>


</head>
<body class="stretched">

<!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
        ============================================= -->
        <header id="header" class="page-section full-header">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="fa fa-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="/" class="standard-logo" data-dark-logo="/images/logo-dark.png"><img src="picture/logo.png" alt="成都赤晓"></a>
                        <a href="/" class="retina-logo" data-dark-logo="/images/logo-dark@2x.png"><img src="picture/logo@2x.png" alt="成都赤晓"></a>
                    </div>
                    <!-- #logo end -->

                    <% include nav.ejs %>

                </div>

            </div>

        </header><!-- #header end -->
        <!-- #header end -->
        <section id="page-title" class="page-title-parallax page-title-dark page-title-right" style="padding: 100px 0; background-image: url('images/2016072713375734838.jpg'); background-size: cover; background-position: center center;" data-stellar-
background-ratio="0.2">

            <div class="container clearfix">
            </div>

        </section><!-- #page-title end -->
        <!-- #page-title end -->

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1 style=" color:#fff;">赛事活动</h1>
                <ol class="breadcrumb">
                当前位置：<a  href="/">成都赤晓</a>  /  <li><a  href="/Item/list.asp?id=1655">赛事活动</a></li>
                </ol>
            </div>

        </section><!-- #page-title end -->

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix" style="margin:30px auto;">

                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent nobottommargin col_last clearfix">

                        <!-- Posts
                        ============================================= -->
                        <div id="posts" class="post-timeline clearfix">

                            <div class="timeline-border"></div>
 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    <span></span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2019-05-13/2019051313393928140.jpg" data-lightbox="image"><img class="image_fade" src="picture/2019051313393928140.jpg" alt="车友集聚，力盛赛道节火热开战！"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2926">车友集聚，力盛赛道节火热开战！</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 83</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>5月11日，由成都赤晓、ONECAR联合打造的2019力盛赛道节-站的首场比赛在这个初夏拉开序幕。这个超大型的官方赛道嘉年华，备受民间赛车爱好者的青睐。本场比赛共吸引到40余位玩家加入，大家在安全健康的玩车文化</p>
                                    <a href="/Item/Show.asp?m=1&d=2926"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    <span></span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2019-04-29/2019042910563535337.jpg" data-lightbox="image"><img class="image_fade" src="picture/2019042910563535337.jpg" alt="燃擎四月，SEC火力全开！"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2924">燃擎四月，SEC火力全开！</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 55</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>4月28日，2019SEC超级耐力锦标赛赛区第二个比赛日继续在成都赤晓上演。今日的天空并不做美，正赛前的最后一节练习被雨水所笼罩，危机四伏的湿滑赛道增加了比赛难度，也让赛事变得更加扑朔迷离。SEC作为中国首创</p>
                                    <a href="/Item/Show.asp?m=1&d=2924"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    <span></span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2019-04-28/2019042810264338545.jpg" data-lightbox="image"><img class="image_fade" src="picture/2019042810264338545.jpg" alt="摩托车3小时耐力赛首战告捷！"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2922">摩托车3小时耐力赛首战告捷！</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 73</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>4月27日，随着2019赛季首站赛事SEC超级耐力锦标赛拉开序幕，摩托车3小时耐力赛也于今日完赛。自2018年摩托车开启3小时耐力赛新玩法后，深受车手们的追捧。摩托车耐力赛不仅能锻炼整个车队的团队精神和团结协作，还能挑战</p>
                                    <a href="/Item/Show.asp?m=1&d=2922"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    <span></span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2019-04-28/2019042810074279057.jpg" data-lightbox="image"><img class="image_fade" src="picture/2019042810074279057.jpg" alt="SEC赛区首站排位今日打响！"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2920">SEC赛区首站排位今日打响！</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 38</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>历经4个月的漫长等待，2019赛季SEC超级耐力锦标赛赛区迎来了首个比赛日的较量。经过一个季度的休憩后，各车队及车手都以饱满的状态进行备战。在完成了两节官方练习后，大家都蓄势待发准备下午的杆位争夺。由于新赛季</p>
                                    <a href="/Item/Show.asp?m=1&d=2920"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    02<span>12</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2018-12-14/2018121415144264827.jpg" data-lightbox="image"><img class="image_fade" src="picture/2018121415144264827.jpg" alt="激擎6小时，SEC年度收官战今日打响"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2918">激擎6小时，SEC年度收官战今日打响</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 39</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>历经4场分站赛、5个回合、总计22个小时的耐力争夺，SEC超级耐力锦标赛站2018赛季总冠军的归属于今日在成都赤晓尘埃落定。本场收官战，年度冠军头衔的竞争可谓相当之大，共有13支车队、21台车、近70名车手参与</p>
                                    <a href="/Item/Show.asp?m=1&d=2918"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    01<span>12</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2018-12-14/2018121414565750758.jpg" data-lightbox="image"><img class="image_fade" src="picture/2018121414565750758.jpg" alt="SEC总决赛排位赛，各车队一往无前"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2917">SEC总决赛排位赛，各车队一往无前</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 31</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>12月1日，SEC超级耐力锦标赛站结束排位赛，各车队为获得最佳发车位在天马赛道上演了激烈争夺。经过两轮练习，下午4点排位赛的角逐正式进行。第一次参加SEC的Maxperdingrods车队23号车组孙辉、田洪宇、陈沪平、林君</p>
                                    <a href="/Item/Show.asp?m=1&d=2917"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    11<span>11</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2018-11-12/2018111209595688663.jpg" data-lightbox="image"><img class="image_fade" src="picture/2018111209595688663.jpg" alt="天马论驾收官战圆满落幕&nbsp;年终大奖"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2915">天马论驾收官战圆满落幕&nbsp;年终大奖</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 16</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>第三十八届天马论驾赛道嘉年华于今天下午四点二十分圆满落下帷幕。开幕仪式上，市松江区旅游局局长金冬云先生为本次比赛宣布开幕。</p>
                                    <a href="/Item/Show.asp?m=1&d=2915"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    10<span>11</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2018-11-11/2018111111140978914.jpg" data-lightbox="image"><img class="image_fade" src="picture/2018111111140978914.jpg" alt="天马论驾收官战&nbsp;打响战雷"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2913">天马论驾收官战&nbsp;打响战雷</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 10</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>今天下午四点，第三十八届天马论驾赛道嘉年华摩托车公开赛和房车公开赛顺利完成了各组别比赛。上午九点，摩托车公开赛mini组和Honda300cc组率先完成了排位赛。20分钟后，摩托车mini组A组由33号车手TAGUCHIKOSUKE以1:20.</p>
                                    <a href="/Item/Show.asp?m=1&d=2913"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    23<span>09</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2018-09-23/201809232200293585_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/201809232200293585_s.jpg" alt="SEC超级耐力锦标赛站第三场今"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2911">SEC超级耐力锦标赛站第三场今</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 131</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>经过昨天激烈的杆位争夺赛后，2018赛季SEC超级耐力锦标赛站第三场的决赛于今天下午一点正式拉开序幕。本场赛事采用全新的赛事模式，分为6小时耐力赛和2小时冲刺赛。6小时的比赛并非单靠速度就能取胜，稳定、团队、高</p>
                                    <a href="/Item/Show.asp?m=1&d=2911"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    22<span>09</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2018-10-13/2018101313572899126_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/2018101313572899126_s.jpg" alt="中秋，和SEC在一起！"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2908">中秋，和SEC在一起！</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 133</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>9月22日，SEC超级耐力锦标赛6小时耐力赛在成都赤晓举行了排位赛的争夺。本场比赛共有11支车队近50人参与，这个中秋假期，选手们以车会友在天马的赛道上尽情放纵。上午，选手们首先进行了两节自由练习，在第二回合的</p>
                                    <a href="/Item/Show.asp?m=1&d=2908"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    12<span>08</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2018-10-13/2018101313545290827.jpg" data-lightbox="image"><img class="image_fade" src="picture/2018101313545290827.jpg" alt="大战前夕&nbsp;杆位争夺充满悬念"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2907">大战前夕&nbsp;杆位争夺充满悬念</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 138</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>8月11日，2018年城市业余联赛-“天马论驾”市汽车比赛进入了排位赛的角逐。为了取得杆位头衔，各组别车手拼尽全力，激烈的战况让比赛充满悬念。在率先进行的摩托车公开赛中，赛车手们高难度的弯道技术，完美的超车</p>
                                    <a href="/Item/Show.asp?m=1&d=2907"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    08<span>08</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2018-08-08/2018080816085433688_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/2018080816085433688_s.jpg" alt="盛夏狂欢，“趣”天马论驾！"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2905">盛夏狂欢，“趣”天马论驾！</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 324</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>随着2018赛季的过半，下半年的赛事也已悄然打响！2018年城市业余联赛-“天马论驾”市汽车比赛将于本周末（8月10日-12日）拉开序幕！经典的赛事、精彩的表现，让每届天马论驾都备受大家期待。本届赛事共吸引了200余</p>
                                    <a href="/Item/Show.asp?m=1&d=2905"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    07<span>07</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2018-10-13/2018101314021773755.jpg" data-lightbox="image"><img class="image_fade" src="picture/2018101314021773755.jpg" alt="2018SEC超级耐力锦标赛站第二"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2903">2018SEC超级耐力锦标赛站第二</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 111</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>7月7日十点整，2018SEC超级耐力锦标赛站第二场的比赛顺利拉开序幕。5个小时、9支车队在成都赤晓进行了一场激烈的交锋。5个小时的耐力赛对于车辆的动力和耐久性，以及车手的耐力和团队间的默契配合都是一个巨</p>
                                    <a href="/Item/Show.asp?m=1&d=2903"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    05<span>07</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2018-10-13/2018101313594510225_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/2018101313594510225_s.jpg" alt="2018SEC天马站，再燃烽火！"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2900">2018SEC天马站，再燃烽火！</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 84</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>2018赛季SEC超级耐力锦标赛-站第二场排位赛的比赛已于今日结束争夺，THEBROS纵横车队、GYTRacing车队、FRT车队、利奥P.MUASIA车队、THEONERacing、兔司机、奥特乐.CJRACING车队、DeltaRacingTeam、琛阳赛车CY</p>
                                    <a href="/Item/Show.asp?m=1&d=2900"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    10<span>06</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2018-06-10/2018061021040590555_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/2018061021040590555_s.jpg" alt="风驰电掣&nbsp;畅行天马"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2898">风驰电掣&nbsp;畅行天马</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 208</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>2018年城市业余联赛“力盛”超级汽车比赛已于今日圆满落幕！本次比赛由市社会体育管理中心主办，力盛赛车文化股份有限公司承办，市体育局、市体育总会作为指导单位。旨在弘扬体育精神、传播健身</p>
                                    <a href="/Item/Show.asp?m=1&d=2898"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    20<span>05</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2018-10-13/201810131419562614_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/201810131419562614_s.jpg" alt="第36届天马论驾圆满闭幕"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2897">第36届天马论驾圆满闭幕</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 148</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>5月20日，第36届天马论驾在成都赤晓隆重举行，出席本场开幕式的嘉宾有松江局体育局副局长秦梓辛先生、佘山国际度假区管委会副主任周燕女士、新大洲本田摩托有限公司总经理大谷包先生、卡莱集团亚太区总裁Jor</p>
                                    <a href="/Item/Show.asp?m=1&d=2897"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    19<span>05</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2018-05-19/2018051921265640147_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/2018051921265640147_s.jpg" alt="天马论驾雨战排位"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2895">天马论驾雨战排位</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 121</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>5月19日，2018赛季首场天马论驾在暴雨中拉开序幕。摩托车公开赛和房车公开赛相继完成排位，各组别在大雨中进行了异常激烈的杆位争夺战！上午9时许，率先进行的是天马论驾摩托车公开赛MINI组的比拼。该组别14位参赛车手几</p>
                                    <a href="/Item/Show.asp?m=1&d=2895"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    18<span>05</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2018-05-18/2018051817175824026_S.png" data-lightbox="image"><img class="image_fade" src="picture/2018051817175824026_s.png" alt="2018赛季天马论驾全新起航！"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2893">2018赛季天马论驾全新起航！</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 218</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>第36届天马论驾将于本周末（5月18日-20日）在成都赤晓全新起航！时隔半年之久，天马论驾终于在大家的期待中强势回归！赛事依旧延续经典，分为摩托车公开赛和房车公开赛两大赛事。摩托车组分为MINIA+B组、HondaCBF150</p>
                                    <a href="/Item/Show.asp?m=1&d=2893"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    06<span>05</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2018-05-06/2018050621070757967_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/2018050621070757967_s.jpg" alt="SEC超级耐力锦标赛站首站圆满"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2890">SEC超级耐力锦标赛站首站圆满</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 276</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>SEC超级耐力锦标赛站的比赛于今日在国际赛车场顺利落下帷幕，首站5小时的比赛共分为两个回合进行。前一天进行的是本场第一回合2小时的比赛，由于比赛开始前的一场大雨，各车组也都换上了提前准备好的雨胎。韩泰</p>
                                    <a href="/Item/Show.asp?m=1&d=2890"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    05<span>05</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2018-05-04/2018050421211445451_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/2018050421211445451_s.jpg" alt="一触即发！SEC上赛站上演杆位争夺"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2888">一触即发！SEC上赛站上演杆位争夺</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 130</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>2018赛季SEC超级耐力锦标赛-站首站排位于今日正式打响！5个组别12支车队在F1赛道进行了为时1小时的杆位争夺。上午，各组别首先进行了两节自由练习。虽然去年SEC就已首登上赛舞台，但由于赛道偏大高速弯难掌控，车</p>
                                    <a href="/Item/Show.asp?m=1&d=2888"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    30<span>04</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2018-04-30/2018043017203899054_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/2018043017203899054_s.jpg" alt="力盛超级赛道节，赛出真我！"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2887">力盛超级赛道节，赛出真我！</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 148</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>2018赛季力盛超级赛道节站的第一场比赛在这个这个五一假期正式拉开序幕！一众车友聚集成都赤晓，体验赛道的同时还能感受汽车运动带来的独有魅力。TrackmaniaClub、ONECAR、康周K&amp;Z车队、ASR车队、UP车队</p>
                                    <a href="/Item/Show.asp?m=1&d=2887"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    03<span>12</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-12-03/2017120318014656398_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/2017120318014656398_s.jpg" alt="天马耐力赛第四站圆满落幕"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2868">天马耐力赛第四站圆满落幕</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 208</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>天马耐力赛-玩车嘉年华第4站于今日在成都赤晓顺利闭幕。本场比赛特邀飞德勒轮胎大区经理贾世星先生出席开幕式并挥旗发车。本次活动共有24台车、13支车队参与其中，各组在经过两轮长达一小时的自由练习后，便正式</p>
                                    <a href="/Item/Show.asp?m=1&d=2868"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    01<span>12</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-12-02/201712021457554188_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/201712021457554188_s.jpg" alt="各组资格赛今日开战！"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2867">各组资格赛今日开战！</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 160</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>2017CSC超级短道城市联赛-站，各组别资格赛于今天正式拉开序幕！作为本年度最后一场收官战，市松江区汽车摩托车运动协会主席王笑先生，义乌国际赛车公园董事长陈能先生，温州瑶溪国际赛车场总经理季小扬先生，温州</p>
                                    <a href="/Item/Show.asp?m=1&d=2867"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    29<span>11</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-11-29/2017112917243424073.jpg" data-lightbox="image"><img class="image_fade" src="picture/2017112917243424073.jpg" alt="挑战极限&nbsp;耐力无限"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2865">挑战极限&nbsp;耐力无限</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 129</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>天马耐力赛-玩车嘉年华第四站的比赛将于12月3日（本周日）登陆成都赤晓！3小时、20台车、250公里，每一位车手又将在天马耐力赛上使出所有技艺开启新的较量！经由前三场的经验累积，选手们对竞速节奏及比赛策略都有了</p>
                                    <a href="/Item/Show.asp?m=1&d=2865"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    04<span>11</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-11-04/2017110416014859544.jpg" data-lightbox="image"><img class="image_fade" src="picture/2017110416014859544.jpg" alt="2017年城市业余联赛—松江车"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2862">2017年城市业余联赛—松江车</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 214</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>今天下午（11月4日），由市体育局、市体育总会主办，力盛赛车文化股份有限公司承办的地区性民间综合赛事-2017年城市业余联赛—松江车王技巧赛在成都赤晓隆重举办。作为城市业余联赛的汽车项目</p>
                                    <a href="/Item/Show.asp?m=1&d=2862"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    28<span>10</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-10-28/2017102817534778193_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/2017102817534778193_s.jpg" alt="天马耐力赛圆满落幕"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2861">天马耐力赛圆满落幕</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 174</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>天马耐力赛-玩车嘉年华在今天圆满落下帷幕，本次活动特邀泰丰轮胎股份有限公司营业部经理蓝隽淳先生出席，并在开幕式上挥动发车旗宣布本届天马耐力赛正式开始！上午，各组别统一进行了自由练习。此时，气温也随之逐渐上升</p>
                                    <a href="/Item/Show.asp?m=1&d=2861"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    26<span>10</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-10-26/2017102616390694105.jpg" data-lightbox="image"><img class="image_fade" src="picture/2017102616390694105.jpg" alt="天马嘉年华再度来袭"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2859">天马嘉年华再度来袭</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 151</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>本周六（10月28日）成都赤晓即将迎来新一轮的天马耐力赛-玩车嘉年华。本场活动由成都赤晓和赛道饭车友俱乐部联合主办，将一群爱玩车的朋友相聚于此，通过赛事加强车队间的团队协作更促进车手间的赛车友谊</p>
                                    <a href="/Item/Show.asp?m=1&d=2859"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    21<span>10</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-10-21/2017102118194544084_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/2017102118194544084_s.jpg" alt="天马论驾排位争夺一触即发！"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2856">天马论驾排位争夺一触即发！</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 140</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>期待已久的天马论驾收官战的排位争夺已于今日顺利结束，12个组别、2大经典赛事为杆位展开了猛烈厮杀。市精英赛常规赛第五场也于今日完赛。市精英赛作为本场比赛的辅助赛事之一，首先完成了排位赛的比拼。随后天</p>
                                    <a href="/Item/Show.asp?m=1&d=2856"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    18<span>10</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-10-18/2017101815335010155_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/2017101815335010155_s.jpg" alt="天马论驾高手集结备战收官战"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2853">天马论驾高手集结备战收官战</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 159</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>金秋十月丹桂飘香，阳光温馨恬静微风和煦轻柔。在这秋高气爽的日子里，第35届天马论驾即将于10月20日-22日在成都赤晓隆重举行！这也是天马论驾在2017赛季中的最后一场收官战役。一众老牌车队再度集结天马赛道，收官</p>
                                    <a href="/Item/Show.asp?m=1&d=2853"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    15<span>10</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-10-16/2017101611530159673.jpg" data-lightbox="image"><img class="image_fade" src="picture/2017101611530159673.jpg" alt="松江区卡丁车挑战赛圆满落幕"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2851">松江区卡丁车挑战赛圆满落幕</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 117</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>由松江区体育局主办、力盛赛车文化股份有限公司承办、松江区汽车摩托车运动协会指导的「松江区卡丁车挑战赛」在这个周末伴随着淅淅沥沥的小雨正式开始。本次活动共吸引到了50余名卡丁车爱好者的参与！赛车竞技越来</p>
                                    <a href="/Item/Show.asp?m=1&d=2851"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    03<span>09</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-09-03/2017090319241310353_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/2017090319241310353_s.jpg" alt="强者之战，硝烟四起！"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2849">强者之战，硝烟四起！</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 149</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>成都赤晓经典赛事天马耐力赛-玩车嘉年华已于今日顺利完赛！2个组别、19支车队为冠军宝座展开了2小时的强者对抗。开幕式上，泰丰轮胎股份有限公司营业部经理蓝隽淳先生挥动发车旗宣布本届天马耐力赛正式开始！本次</p>
                                    <a href="/Item/Show.asp?m=1&d=2849"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    02<span>09</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-09-02/2017090216225892078.jpg" data-lightbox="image"><img class="image_fade" src="picture/2017090216225892078.jpg" alt="天马耐力赛各组杆位各有所属"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2848">天马耐力赛各组杆位各有所属</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 127</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>天马耐力赛-玩车嘉年华第二场已于今日结束了排位赛的争夺。五星体育广播车队、力盛赛车学校、LinkyRacing、ASR、iTrack-THEONERacing、兔司机等一些大家耳熟能详的老牌车队们，在一小时的排位赛争夺战上为各组杆位</p>
                                    <a href="/Item/Show.asp?m=1&d=2848"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    30<span>08</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-08-30/2017083016111025284_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/2017083016111025284_s.jpg" alt="赛车盛典，玩家齐聚！"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2845">赛车盛典，玩家齐聚！</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 213</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>天马耐力赛-玩车嘉年华将于本周日（9月3日）在成都赤晓强势回归！在9月的第一个周末，一场属于赛车的超级盛典即将打响。各路车手各组车队都齐聚天马赛道，在全新赛制的天马耐力赛以及第五届力盛超级赛道节上大显身手</p>
                                    <a href="/Item/Show.asp?m=1&d=2845"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    13<span>8</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-08-13/2017081319294677900_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/2017081319294677900_s.jpg" alt="实力出击&nbsp;精彩延续"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2843">实力出击&nbsp;精彩延续</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 145</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>下午五时许，第34届天马论驾已圆满落幕。作为2017佘山盛夏狂欢季的活动之一，松江区体育局副局长秦梓辛先生为本届天马论驾宣布开幕。此外，出席本次开幕式的领导还有：佘山国家旅游度假区松江管委会副主任周燕女士，上</p>
                                    <a href="/Item/Show.asp?m=1&d=2843"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    12<span>08</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-08-12/2017081218361625258.jpg" data-lightbox="image"><img class="image_fade" src="picture/2017081218361625258.jpg" alt="第34天马论驾排位赛今日打响！"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2841">第34天马论驾排位赛今日打响！</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 143</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>8月12日，伴随着淅淅沥沥的小雨，第34届天马论驾排位赛于今日拉开战幕！摩托车公开赛和房车公开赛的各组别相继完成排位，经过激烈的争夺，各组别杆位已揭晓。上午，在市精英赛的自由练习后。天马论驾摩托车公开赛的比拼</p>
                                    <a href="/Item/Show.asp?m=1&d=2841"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    9<span>8</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-08-09/2017080916312814477.jpg" data-lightbox="image"><img class="image_fade" src="picture/2017080916312814477.jpg" alt="夏季狂欢&nbsp;第34届天马论驾启程"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2839">夏季狂欢&nbsp;第34届天马论驾启程</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 200</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>2017赛程已然过半，但下半年的赛事依旧精彩纷呈！8月11日-13日，第34届天马论驾即将在成都赤晓拉开序幕。天马论驾至今已成功举办33届，每一届都能给大家带来不一样的感官体验，选手们的每一次表现也牵动着现场所有观</p>
                                    <a href="/Item/Show.asp?m=1&d=2839"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    07<span>08</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-08-07/2017080716530414020.jpg" data-lightbox="image"><img class="image_fade" src="picture/2017080716530414020.jpg" alt="天马论驾|赛车狂欢夏日祭"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2837">天马论驾|赛车狂欢夏日祭</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 133</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>凉风至、白露降、寒蝉鸣暑去凉来盛夏光年渐行渐远转眼间，夏天已过大半暑期也加快了行进的步伐为了抓住夏天的尾巴8月13日天马论驾将有一场别开生面的赛车狂欢夏日祭（＊天马菌友情提示：第34届天马论驾抢票活动正在火热进</p>
                                    <a href="/Item/Show.asp?m=1&d=2837"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    02<span>07</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-07-03/2017070314330965998_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/2017070314330965998_s.jpg" alt="TTAC天马单圈测时赛圆满落幕"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2834">TTAC天马单圈测时赛圆满落幕</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 212</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>7月2日，2017年城市业余联赛TTAC天马单圈测时赛在成都赤晓拉开帷幕。在市体育局、市体育总会、佘山国际旅游度假区、松江区体育局、松江区旅游局的支持与组织下，此次赛事由力盛赛车文化股份</p>
                                    <a href="/Item/Show.asp?m=1&d=2834"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    19<span>06</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-06-19/2017061915585173378_S.jpg" data-lightbox="image"><img class="image_fade" src="picture/2017061915585173378_s.jpg" alt="【回顾】一起看星星——Go4Speed"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2833">【回顾】一起看星星——Go4Speed</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 208</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>多少次，仰望天空，发出质问：一个人的独行，究竟何时结束？直到遇见你们，爱上赛道，爱上你们…天空中，星光暗淡；你们说，看不见星。祝贺你们，心中没有黑暗；黑夜中久行，再微弱的光，便也是救赎。谢谢你们，陪我一同看那熠熠的星</p>
                                    <a href="/Item/Show.asp?m=1&d=2833"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    30<span>05</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-06-06/2017060611541821680.jpg" data-lightbox="image"><img class="image_fade" src="picture/2017060611541821680.jpg" alt="与“粽”不同的玩车嘉年华"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2826">与“粽”不同的玩车嘉年华</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 165</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>2017年天马耐力赛-玩车嘉年华于今日拉开战幕！本场比赛共50余名参赛选手，场面壮观，泰丰轮胎股份有限公司台湾行销经理叶佳哲先生出席开幕仪式并宣布开幕。 上午，天马耐力赛各组别参赛车辆早早进行了自由练习。随后，排位</p>
                                    <a href="/Item/Show.asp?m=1&d=2826"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    <span></span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2017-05-24/14955934816634992.jpg" data-lightbox="image"><img class="image_fade" src="picture/14955934816634992.jpg" alt="<span style="color:green">[图文]</span>端午小长假&nbsp;玩转天马耐力赛-玩车"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2824"><span style="color:green">[图文]</span>端午小长假&nbsp;玩转天马耐力赛-玩车</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 245</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>在即将来临的端午小长假期间（5月30日），成都赤晓携手赛道饭车友俱乐部，为车迷及车友们带来了全新2017年天马耐力赛-玩车嘉年华，老赛事新玩法，即将启航！本次天马耐力赛-玩车嘉年华引入全新赛制，保留了天马耐力赛原</p>
                                    <a href="/Item/Show.asp?m=1&d=2824"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    25<span>04</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2016-07-27/2016072713462082076.jpg" data-lightbox="image"><img class="image_fade" src="picture/2016072713462082076.jpg" alt="天马论驾"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2772">天马论驾</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 990</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>第三十届天马论驾今日在一片轰鸣中顺利落下帷幕。下午一点，本届天马论驾开幕式正式开始，本届开幕式由成都赤晓总经理王笑先生致辞，佘山镇镇长莫桂兴先生宣布开幕。此外，出席本次开幕式的领导还有：松江区体育局副</p>
                                    <a href="/Item/Show.asp?m=1&d=2772"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    02<span>04</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2016-07-27/2016072714023496145.jpg" data-lightbox="image"><img class="image_fade" src="picture/2016072714023496145.jpg" alt="天马耐力赛新赛季全新启程"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2749">天马耐力赛新赛季全新启程</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 550</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>春暖花开，又是一年新春。本周末(4月2日-3日)成都赤晓即将迎来新赛季的首场赛事——天马耐力赛。本场耐力赛持续时长为5小时，目前参赛车辆已超30台，报名全年的有27台。回顾2015年天马耐力赛，从3小时起步至5小时</p>
                                    <a href="/Item/Show.asp?m=1&d=2749"class="more-link">点击阅读</a>
                                </div>
                            </div>

 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                    11<span>06</span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                    <a href="/UploadFiles/2016-07-27/2016072714054469000.jpg" data-lightbox="image"><img class="image_fade" src="picture/2016072714054469000.jpg" alt="第二届市民运动会汽车挑战赛"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="/Item/Show.asp?m=1&d=2748">第二届市民运动会汽车挑战赛</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="fa fa-folder-open"></i> </li>
                                    <li><a href="blog-single.html#comments"><i class="fa fa-comments"></i> 543</a></li>
                                    <li><a href="blog-timeline-left-sidebar.html#"><i class="fa fa-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>6月11日八时，“绿地集团杯”第二届市民运动会汽车挑战赛预赛第一场暨CEC超级耐力锦标赛赛区-天马耐力赛圆满落下帷幕。本次市民运动会汽车挑战赛分专业组和业余组两大组别；专业组由全国各地专业车手参加比</p>
                                    <a href="/Item/Show.asp?m=1&d=2748"class="more-link">点击阅读</a>
                                </div>
                            </div>



                        </div><!-- #posts end -->

                    </div><!-- .postcontent end -->

                    <!-- Sidebar
                    ============================================= -->
                    <div class="sidebar nobottommargin clearfix">
                        <div class="sidebar-widgets-wrap">


                            <div class="widget clearfix">

                                                                <h4 style="margin-top:60px;">赛事活动</h4>
                                <div id="post-list-footer">
 


                                    <div class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="/Item/Show.asp?m=1&d=2926" class="nobg"><img src="picture/2019051313393928140.jpg" alt="车友集聚，力盛赛道节火热开战！"></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4><a href="/Item/Show.asp?m=1&d=2926">车友集聚，力盛赛道节火热开战！</a></h4>
                                            </div>
                                            <ul class="entry-meta">
                                                <li>2019-05-13</li>
                                            </ul>
                                        </div>
                                    </div>

 


                                    <div class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="/Item/Show.asp?m=1&d=2924" class="nobg"><img src="picture/2019042910563535337.jpg" alt="燃擎四月，SEC火力全开！"></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4><a href="/Item/Show.asp?m=1&d=2924">燃擎四月，SEC火力全开！</a></h4>
                                            </div>
                                            <ul class="entry-meta">
                                                <li>2019-04-29</li>
                                            </ul>
                                        </div>
                                    </div>

 


                                    <div class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="/Item/Show.asp?m=1&d=2922" class="nobg"><img src="picture/2019042810264338545.jpg" alt="摩托车3小时耐力赛首战告捷！"></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4><a href="/Item/Show.asp?m=1&d=2922">摩托车3小时耐力赛首战告捷！</a></h4>
                                            </div>
                                            <ul class="entry-meta">
                                                <li>2019-04-28</li>
                                            </ul>
                                        </div>
                                    </div>

 


                                    <div class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="/Item/Show.asp?m=1&d=2920" class="nobg"><img src="picture/2019042810074279057.jpg" alt="SEC赛区首站排位今日打响！"></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4><a href="/Item/Show.asp?m=1&d=2920">SEC赛区首站排位今日打响！</a></h4>
                                            </div>
                                            <ul class="entry-meta">
                                                <li>2019-04-28</li>
                                            </ul>
                                        </div>
                                    </div>

 


                                    <div class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="/Item/Show.asp?m=1&d=2918" class="nobg"><img src="picture/2018121415144264827.jpg" alt="激擎6小时，SEC年度收官战今日打响"></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4><a href="/Item/Show.asp?m=1&d=2918">激擎6小时，SEC年度收官战今日打响</a></h4>
                                            </div>
                                            <ul class="entry-meta">
                                                <li>2018-12-14</li>
                                            </ul>
                                        </div>
                                    </div>

 


                                    <div class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="/Item/Show.asp?m=1&d=2917" class="nobg"><img src="picture/2018121414565750758.jpg" alt="SEC总决赛排位赛，各车队一往无前"></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4><a href="/Item/Show.asp?m=1&d=2917">SEC总决赛排位赛，各车队一往无前</a></h4>
                                            </div>
                                            <ul class="entry-meta">
                                                <li>2018-12-14</li>
                                            </ul>
                                        </div>
                                    </div>


                                </div>


                            </div>

                            <div class="widget clearfix">

                                <h4>精彩视频</h4>
                                <div id="oc-portfolio-sidebar" class="owl-carousel portfolio-5">

                                     
                                    <div class="oc-item">
                                        <div class="iportfolio">
                                            <div class="portfolio-image">
                                                <a href="/Item/Show.asp?m=1&d=2883">
                                                    <img src="picture/2018101314172126544.jpg" alt="20171203-天马耐力赛">
                                                </a>
                                                <div class="portfolio-overlay">
                                                    <a href="https://imgcache.qq.com/tencentvideo_v1/playerv3/T" class="center-icon" data-lightbox="iframe"><i class="fa fa-play"></i></a>
                                                </div>
                                            </div>
                                            <div class="portfolio-desc center nobottompadding">
                                                <h3>20171203-天马耐力赛</h3>
                                                <span>2018-04-23</span>
                                            </div>
                                        </div>
                                    </div>

 
                                    <div class="oc-item">
                                        <div class="iportfolio">
                                            <div class="portfolio-image">
                                                <a href="/Item/Show.asp?m=1&d=2882">
                                                    <img src="picture/2018101314155436698.jpg" alt="20171028-天马耐力赛">
                                                </a>
                                                <div class="portfolio-overlay">
                                                    <a href="https://imgcache.qq.com/tencentvideo_v1/playerv3/T" class="center-icon" data-lightbox="iframe"><i class="fa fa-play"></i></a>
                                                </div>
                                            </div>
                                            <div class="portfolio-desc center nobottompadding">
                                                <h3>20171028-天马耐力赛</h3>
                                                <span>2018-04-23</span>
                                            </div>
                                        </div>
                                    </div>

 
                                    <div class="oc-item">
                                        <div class="iportfolio">
                                            <div class="portfolio-image">
                                                <a href="/Item/Show.asp?m=1&d=2881">
                                                    <img src="picture/2018042313374250536_s.jpg" alt="第35届天马论驾集锦">
                                                </a>
                                                <div class="portfolio-overlay">
                                                    <a href="https://imgcache.qq.com/tencentvideo_v1/playerv3/T" class="center-icon" data-lightbox="iframe"><i class="fa fa-play"></i></a>
                                                </div>
                                            </div>
                                            <div class="portfolio-desc center nobottompadding">
                                                <h3>第35届天马论驾集锦</h3>
                                                <span>2018-04-23</span>
                                            </div>
                                        </div>
                                    </div>

 

                                </div>

                                <script type="text/javascript">

                                    jQuery(document).ready(function($) {

                                        var ocClients = $("#oc-portfolio-sidebar");

                                        ocClients.owlCarousel({
                                            items: 1,
                                            margin: 10,
                                            loop: true,
                                            nav: false,
                                            autoplay: true,
                                            dots: true,
                                            autoplayHoverPause: true
                                        });

                                    });

                                </script>

                            </div>

                            <div class="widget clearfix">

                                <h4>标签</h4>
                                <div class="tagcloud">
                                    <a href="/plus/tags/index.asp?n=1447&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:耐力赛&#10;被搜索了2687次">耐力赛</a> <a href="/plus/tags/index.asp?n=1455&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:赛车学校&#10;被搜索了2328次">赛车学校</a> <a href="/plus/tags/index.asp?n=1450&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:日程安排&#10;被搜索了1758次">日程安排</a> <a href="/plus/tags/index.asp?n=1453&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:赛车体验&#10;被搜索了1557次">赛车体验</a> <a href="/plus/tags/index.asp?n=1449&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:天马论驾&#10;被搜索了1552次">天马论驾</a> <a href="/plus/tags/index.asp?n=1451&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:赛道日&#10;被搜索了1546次">赛道日</a> <a href="/plus/tags/index.asp?n=1469&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:赛车&#10;被搜索了1376次">赛车</a> <a href="/plus/tags/index.asp?n=1454&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:商务租场&#10;被搜索了1313次">商务租场</a> <a href="/plus/tags/index.asp?n=1466&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:长假&#10;被搜索了1292次">长假</a> <a href="/plus/tags/index.asp?n=1468&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:夜宴&#10;被搜索了1280次">夜宴</a> <a href="/plus/tags/index.asp?n=1467&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:天马&#10;被搜索了1254次">天马</a> <a href="/plus/tags/index.asp?n=1482&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:天马耐力赛&#10;被搜索了1247次">天马耐力赛</a> <a href="/plus/tags/index.asp?n=1472&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:激烈&#10;被搜索了1234次">激烈</a> <a href="/plus/tags/index.asp?n=1448&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:拉力赛&#10;被搜索了1216次">拉力赛</a> <a href="/plus/tags/index.asp?n=1463&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:市民&#10;被搜索了1213次">市民</a> <a href="/plus/tags/index.asp?n=1465&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:端午&#10;被搜索了1211次">端午</a> <a href="/plus/tags/index.asp?n=1470&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:stc&#10;被搜索了1211次">stc</a> <a href="/plus/tags/index.asp?n=1452&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:广告投放&#10;被搜索了1175次">广告投放</a> <a href="/plus/tags/index.asp?n=1462&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:二届&#10;被搜索了1167次">二届</a> <a href="/plus/tags/index.asp?n=1471&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:争夺&#10;被搜索了1159次">争夺</a> <a href="/plus/tags/index.asp?n=1459&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:&#10;被搜索了1137次"></a> <a href="/plus/tags/index.asp?n=1457&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:绿地&#10;被搜索了1112次">绿地</a> <a href="/plus/tags/index.asp?n=1456&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:介绍&#10;被搜索了1100次">介绍</a> <a href="/plus/tags/index.asp?n=1461&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:第二届&#10;被搜索了1044次">第二届</a> <a href="/plus/tags/index.asp?n=1458&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:集团&#10;被搜索了1029次">集团</a> <a href="/plus/tags/index.asp?n=1460&ChannelID=0&ClassID=0&page=1" target="_blank" title="TAG:第二&#10;被搜索了1020次">第二</a> 
                                </div>

                            </div>

                        </div>

                    </div><!-- .sidebar end -->

                </div>

            </div>

        </section><!-- #content end -->

        <!-- Footer
        ============================================= -->
        <footer id="footer" class="dark" style="background: url('images/post003.jpg') repeat; background-size: 100% 100%;">

            <div class="container">

                <!-- Footer Widgets
                ============================================= -->
                <div class="footer-widgets-wrap clearfix">

                    <div class="col_two_third">

                        <div class="widget clearfix dark">

                            <img src="picture/foot-logo.png" alt="" class="alignleft" style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #4A4A4A;">

                              <p>成都赤晓是国际标准的赛车场，满足所有驾车一族各种层次的需求。<br>STC代表着我们的经营理念：<strong>S—Service—服务;T—Team—团队；C—Cooperation—合作</strong></p>
  

                        <div class="line" style="margin: 30px 0; text-align:center; color:rgba(255,255,255,0.25);text-shadow:1px 1px 1px rgba(0,0,0,0.1);">
                           Copyrights &copy; 2014 All Rights Reserved by stc2002.com Inc.<br><a style="color:rgba(255,255,255,0.25);text-shadow:1px 1px 1px rgba(0,0,0,0.1);" href="http://www.miibeian.gov.cn" target="_blank">沪ICP备
12001426号-6</a><br><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011702000117"  target="_blank"><img src="picture/beiangov.png"> 沪公网安备31011702000117号</a>
<br><a href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020180611141558000002615288-SAIC_SHOW_310000-
2018091015530028906&signData=MEQCIBJbysm6hfo5WL2B3xOV1/RERuR8elZaD+v3kXFG5bLGAiBYC7WOlVwp3Ba3mt71u0vvdrTYRssPJLu95PIACIBzWQ==" target="_blank"><img src="picture/lz2.jpg" width="20px"></a>
                        </div>


                        </div>

                    </div>

                    <div class="col_one_third col_last">

                        <img src="picture/ewm.jpg" style=" float:right;">

                    </div>

                </div><!-- .footer-widgets-wrap end -->

            </div>

            <!-- Copyrights
            ============================================= -->

        </footer><!-- #footer end -->
        <!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="fa fa-angle-up"></div>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="js/functions.js"></script>

</body>
</html>
