        <!-- Footer
        ============================================= -->
        <footer id="footer" class="dark"
            style="background-size: 100% 100%;">

            <div class="container">

                <!-- Footer Widgets
                ============================================= -->
                <div class="footer-widgets-wrap clearfix">

                    <div class="col_two_third">

                        <div class="widget clearfix dark">

                            <img src="/images/logo/logo1.png" alt="" class="alignleft"
                                style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #4A4A4A;">

                            <p>成都赤晓汽车运动文化发展有限公司创建于2018年，隶属于中国南山开发集团。公司位于成都市经济开发区成龙大道三段999号南山汽车文化园内。
                            </p>


                            <div class="line"
                                style="margin: 30px 0; text-align:center; color:rgba(255,255,255,0.25);text-shadow:1px 1px 1px rgba(0,0,0,0.1);">
                                Copyrights &copy; 2019 All Rights Reserved by chengduchixiao Inc.<br>
                                <!-- <a
                                    style="color:rgba(255,255,255,0.25);text-shadow:1px 1px 1px rgba(0,0,0,0.1);"
                                    href="http://www.miibeian.gov.cn" target="_blank">沪ICP备
                                    12001426号-6</a><br><a
                                    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011702000117"
                                    target="_blank"><img src="picture/beiangov.png"> 沪公网安备31011702000117号</a> -->
                                <!-- <br><a
                                    href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020180611141558000002615288-SAIC_SHOW_310000-
2018091015530028906&signData=MEQCIBJbysm6hfo5WL2B3xOV1/RERuR8elZaD+v3kXFG5bLGAiBYC7WOlVwp3Ba3mt71u0vvdrTYRssPJLu95PIACIBzWQ=="
                                    target="_blank"><img src="images/logo/code.jpg" width="20px"></a> -->
                            </div>


                        </div>

                    </div>

                    <div class="col_one_third col_last">

                        <img src="/images/logo/code.jpg" style=" float:right;">

                    </div>

                </div><!-- .footer-widgets-wrap end -->

            </div>

            <!-- Copyrights
            ============================================= -->

        </footer><!-- #footer end -->