<div id="logo">
    <a href="/" class="standard-logo" data-dark-logo="/images/logo-dark.png"><img
            src="/images/logo/logo.png" alt="成都赤晓汽车"></a>
</div>
<nav id="primary-menu">

    <ul>
        <li class="current"><a href="/">
                <div>首页</div>
            </a></li>

        <li><a href="/introduction">
                <div>赛道介绍</div>
            </a>
            <ul>



                <li><a href="/introduction/track">
                        <div>简介</div>
                    </a>



                <li><a href="/introduction/joy">
                        <div>娱乐</div>
                    </a>



                <li><a href="/introduction/traffic">
                        <div>交通</div>
                    </a>



            </ul>
        </li>

        <li><a href="/carsport">
                <div>汽车运动</div>
            </a>
            <!-- <ul>



                <li><a href="/carsport">
                        <div>赛车学校</div>
                    </a>



                <li><a href="/carsport/day">
                        <div>开放日</div>
                    </a>



            </ul> -->
        </li>

        <li><a href="/event/zlq">
                <div>赛事活动</div>
            </a>
            <ul>



                <li><a href="/event/zlq">
                        <div>战龙泉</div>
                    </a>



                <li><a href="/event/crc">
                        <div>CRC</div>
                    </a>



            </ul>
        </li>

        <li><a href="/service">
                <div>经营服务</div>
            </a>
            <ul>
                <li><a href="/service/r">
                        <div>商业租赁</div>
                    </a>



                <li><a href="/service/c">
                        <div>平行进口车</div>
                    </a>



                <li><a href="/service/a">
                        <div>广告发布</div>
                    </a>
    
    
    
                </ul>
        </li>

        <li><a href="/news">
                <div>新闻中心</div>
            </a>
        </li>


        <li><a href="/contact">
                <div>联系我们</div>
            </a>

        </li>

    </ul>


</nav><!-- #primary-menu end -->