<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">

    <meta name="Description" content="">


    <!-- Stylesheets
    ============================================= -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style-all.css" type="text/css" />

    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>


    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?8f6f6a44f08006c8bf1f485c0c1da1af";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <!-- Document Title
    ============================================= -->
    <title>赛场介绍 成都赤晓</title>


</head>

<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
        ============================================= -->
        <header id="header" class="page-section full-header">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="fa fa-reorder"></i></div>

                    <% include ../nav.ejs %>

                </div>

            </div>

        </header><!-- #header end -->
        <!-- #header end -->
        <!-- #page-title end -->
        <!-- Page Title
        ============================================= -->
        <!-- Content
        ============================================= -->
        <section id="content" style="background-color:#222222;color:#fff">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div id="side-navigation">

                        <% include ./left.ejs %>


                        <div class="col_three_fourth col_last nobottommargin">
                            <div id="snav-content1">
                                <img src="picture/2016072712202456607.jpg" border="0" alt="" />
                            </div>

                            <div id="2871">
                                <h3 style="text-align:center; margin-bottom:30px;">公司简介</h3>
                                <p
                                    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; line-height: 18pt; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                    <span style="font-size: 12pt; font-family: 微软雅黑;">&nbsp; &nbsp; &nbsp;
                                        &nbsp;成都赤晓汽车运动文化发展有限公司创建于2018年，隶属于中国南山开发集团。</p>
                                <p style="white-space: normal;"><span style="font-family: 微软雅黑; font-size: 12pt;">&nbsp;
                                        &nbsp;&nbsp;</span><br /></p>
                                <p
                                    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; line-height: 18pt; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                    <span style="font-size: 12pt; font-family: 微软雅黑;">&nbsp; &nbsp; &nbsp;
                                        &nbsp;公司位于成都市经济开发区成龙大道三段999号南山汽车文化园内。</p>
                                <p style="white-space: normal;"><span style="font-family: 微软雅黑; font-size: 12pt;">&nbsp;
                                        &nbsp;&nbsp;</span><br /></p>
                                <p
                                    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; line-height: 18pt; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                    <span style="font-size: 12pt; font-family: 微软雅黑;">&nbsp; &nbsp; &nbsp;
                                        &nbsp;成都赤晓是一家以汽车运动为载体的创新型运动文化公司，业务涵盖赛车培训、赛事推广、参赛定制服务、赛道租赁、赛道赛事广告、汽车改装、平行进口车批发等领域；公司秉承“细节、务实、信念、行动”的企业精神，皆在通过“资源优化、平民化和娱乐化”的经营模式，推动汽车运动文化的普及、深化汽车运动产业的发展、树立汽车运动文化发展的标杆，致力于成为中国汽车运动行业专业领先的赛事场地运营商和服务商。
                                </p>
                                <p style="white-space: normal;"><span style="font-family: 微软雅黑; font-size: 12pt;">&nbsp;
                                        &nbsp;&nbsp;</span><br /></p>
                                <!-- <p style="white-space: normal;"><img src="picture/2018081414140138708.jpg"/></p> -->
                                <p><br /></p>
                            </div>


                        </div>




                    </div>


                </div>

            </div>

        </section><!-- #content end -->




        <% include ../footer.ejs %>
    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="fa fa-angle-up"></div>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="js/functions.js"></script>

</body>

</html>