<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
    <meta name="renderer" content="webkit"> 
    <meta name="Keywords" content="">

    <meta name="Description" content="">


    <!-- Stylesheets
    ============================================= -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style-all.css" type="text/css" />

    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/plugins.js"></script>


<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?8f6f6a44f08006c8bf1f485c0c1da1af";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

    <!-- Document Title
    ============================================= -->
	<title>STC娱乐  成都赤晓</title>


</head>
<body class="stretched">

<!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
        ============================================= -->
        <header id="header" class="page-section full-header">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="fa fa-reorder"></i></div>

                    <!-- Primary Navigation
                    ============================================= -->
                    <% include ../nav.ejs %>

                </div>

            </div>

        </header><!-- #header end -->
        <!-- #header end -->
        <!-- Content
        ============================================= -->
        <section id="content" style="background-color: #222222;color:#fff">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div id="side-navigation">
                       
                       <% include ./left.ejs %>                    
                        

                        <div class="col_three_fourth col_last nobottommargin">


                            <div id="joy1">
                                    <h3 style="text-align:center; margin-bottom:30px;">吃</h3>
                                    <!-- <p
                                        style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; line-height: 18pt; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                        <span style="font-size: 12pt; font-family: 微软雅黑;">&nbsp; &nbsp; &nbsp;
                                            &nbsp;成都·南山赛道位于“世界级汽车产业城”成都市龙泉驿区成龙大道999号，为成都市经济开发区核心区域。赛道毗邻龙泉山森林公园脚下，公共交通便利、自然环境优美</p>
                                            <p style="white-space: normal;"><span style="font-family: 微软雅黑; font-size: 12pt;">&nbsp;&nbsp;&nbsp;</span><br /></p>
                                    
                                            <h4 style="text-align:start; margin-bottom:30px;">赛道数据</h4>
                                    <div style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                        <p>赛道全长：1.23公里（含可扩展赛道0.4公里）</p>
                                        <p>弯道数量：8处</p>
                                        <p>沙石路面：2处</p>
                                        <p>路面宽度：12-14.87米</p>
                                        <p>最长直道：170m，可测试百米加速</p>
                                        <p>看台座位数：500个</p>
                                    </div>
                                    <p><br/></p><p><img src="/images/intro/1.png" style="width: 100%" title="赛道介绍 /images/intro/1.png"/></p><p><br/></p> -->
                            </div>


                            <div id="joy2">
                                    <h3 style="text-align:center; margin-bottom:30px;">住</h3>
                                    <p style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; line-height: 18pt; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                        <span style="font-size: 12pt; font-family: 微软雅黑;">&nbsp; &nbsp; &nbsp;&nbsp;成都首家希尔顿逸林品牌酒店“成都百悦希尔顿逸林酒店”距离公司6KM。坐落于成都发展最迅速地区之一的龙泉驿区腹地，地理位置优越，距离成都双流国际机场仅26公里,乘坐地铁2号线直达成都东站和天府广场以及春熙路商圈。又近邻知名高尔夫球会--卧龙谷高尔夫球场，是商务及休闲的理想选择之地。</span>>
                                    </p>
                                    <p style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; line-height: 18pt; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                        <span style="font-size: 12pt; font-family: 微软雅黑;">&nbsp; &nbsp; &nbsp;&nbsp;成都百悦希尔顿逸林酒店囊括了394间配置齐全、优良采光的房间（346间酒店客房和48间服务式公寓）。</span>
                                    </p>
                                    <p>
                                        <br/>
                                    </p>
                                    <p>
                                        <img src="/images/intro/38.png" style="width: 100%" />
                                    </p>
                                    <p>
                                        <img src="/images/intro/39.png" style="width: 100%" />
                                    </p>
                                    <p style="white-space: normal;">
                                        <span style="font-family: 微软雅黑; font-size: 12pt;">&nbsp;&nbsp;&nbsp;</span>
                                        <br />
                                    </p>
                            </div>


                            <div id="joy3">
                                    <h3 style="text-align:center; margin-bottom:30px;">玩</h3>
                                    <p style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; line-height: 18pt; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                        <span style="font-size: 12pt; font-family: 微软雅黑;">&nbsp; &nbsp; &nbsp;&nbsp;成都·南山赛道地处成都市龙泉驿区，是国务院批准的城市向东发展主体区域、成都经济技术开发区（国家级）所在地，中国水蜜桃之乡”。素有“四时花不断，八节佳果香”之美誉，同时也是“世界级汽车产业城”。</span>
                                    </p>
                                    <p>
                                        <img src="/images/intro/40.png" style="width: 100%" />
                                    </p>
                                    <p style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; line-height: 18pt; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                        <span style="font-size: 12pt; font-family: 微软雅黑;">&nbsp; &nbsp; &nbsp;&nbsp;龙泉花果山，阳春三月，龙泉漫山遍野，桃花盛霞，梨花如雪，风景如画，吸引成千上万的游客纷至沓来。距离园区：23公里；</span>
                                    </p>
                                    <p>
                                        <img src="/images/intro/41.png" style="width: 100%" />
                                    </p>
                                    <p style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; line-height: 18pt; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                        <span style="font-size: 12pt; font-family: 微软雅黑;">&nbsp; &nbsp; &nbsp;&nbsp;桃花故里形成了如今“四季花不断，八节佳果香”的美景。距离园区：12.8公里；</span>
                                    </p>
                                    <p>
                                        <img src="/images/intro/42.png" style="width: 100%" />
                                    </p>
                                    <p style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; line-height: 18pt; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                        <span style="font-size: 12pt; font-family: 微软雅黑;">&nbsp; &nbsp; &nbsp;&nbsp;博客小镇从中国到世界的距离。一镇藏东方，一院会天下。距离园区：15公里；</span>
                                    </p>
                                    <p style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; line-height: 18pt; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                        <span style="font-size: 12pt; font-family: 微软雅黑;">&nbsp; &nbsp; &nbsp;&nbsp;龙泉湖龙泉湖风景旅游区位于西部龙泉山上，湖景奇特，状如游龙，有14个；</span>
                                    </p>
                                    <p>
                                        <img src="/images/intro/43.png" style="width: 100%" />
                                    </p>
                                    <p style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; line-height: 18pt; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                        <span style="font-size: 12pt; font-family: 微软雅黑;">&nbsp; &nbsp; &nbsp;&nbsp;形态各异的岛屿同湖尾十里长峡组成山青水富的优美风景。距离园区：23公里；</span>
                                    </p>
                                    <p style="white-space: normal;">
                                        <span style="font-family: 微软雅黑; font-size: 12pt;">&nbsp;&nbsp;&nbsp;</span>
                                        <br />
                                    </p>
                            </div>


                        </div>

                    </div>


                </div>

            </div>

        </section><!-- #content end -->




        <!-- Footer
        ============================================= -->
<footer id="footer" class="dark" style="background: url('images/post003.jpg') repeat; background-size: 100% 100%;">

            <div class="container">

                <!-- Footer Widgets
                ============================================= -->
                <div class="footer-widgets-wrap clearfix">

                    <div class="col_two_third">

                        <div class="widget clearfix dark">

                            <img src="picture/foot-logo.png" alt="" class="alignleft" style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #4A4A4A;">

                              <p>成都赤晓是国际标准的赛车场，满足所有驾车一族各种层次的需求。<br>STC代表着我们的经营理念：<strong>S—Service—服务;T—Team—团队；C—Cooperation—合作</strong></p>
  

                        <div class="line" style="margin: 30px 0; text-align:center; color:rgba(255,255,255,0.25);text-shadow:1px 1px 1px rgba(0,0,0,0.1);">
                           Copyrights &copy; 2014 All Rights Reserved by stc2002.com Inc.<br><a style="color:rgba(255,255,255,0.25);text-shadow:1px 1px 1px rgba(0,0,0,0.1);" href="http://www.miibeian.gov.cn" target="_blank">沪ICP备
12001426号-6</a><br><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011702000117"  target="_blank"><img src="picture/beiangov.png"> 沪公网安备31011702000117号</a>
<br><a href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020180611141558000002615288-SAIC_SHOW_310000-
2018091015530028906&signData=MEQCIBJbysm6hfo5WL2B3xOV1/RERuR8elZaD+v3kXFG5bLGAiBYC7WOlVwp3Ba3mt71u0vvdrTYRssPJLu95PIACIBzWQ==" target="_blank"><img src="picture/lz2.jpg" width="20px"></a>
                        </div>


                        </div>

                    </div>

                    <div class="col_one_third col_last">

                        <img src="picture/ewm.jpg" style=" float:right;">

                    </div>

                </div><!-- .footer-widgets-wrap end -->

            </div>

            <!-- Copyrights
            ============================================= -->

        </footer><!-- #footer end -->
    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="fa fa-angle-up"></div>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="/js/functions.js"></script>

</body>
</html>
