<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
    <meta name="renderer" content="webkit"> 
    <meta name="Keywords" content="">

    <meta name="Description" content="">


    <!-- Stylesheets
    ============================================= -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style-all.css" type="text/css" />

    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/plugins.js"></script>


<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?8f6f6a44f08006c8bf1f485c0c1da1af";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

    <!-- Document Title
    ============================================= -->
	<title>简介</title>


</head>
<body class="stretched">

<!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
        ============================================= -->
        <header id="header" class="page-section full-header">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="fa fa-reorder"></i></div>

                    <!-- Primary Navigation
                    ============================================= -->
                    <% include ../nav.ejs %>

                </div>

            </div>

        </header><!-- #header end -->
        <!-- #header end -->

        <!-- Content
        ============================================= -->
        <section id="content" style="background-color: #222222;color:#fff">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div id="side-navigation">
                       
                        <% include ./left.ejs %>
                        

                        <div class="col_three_fourth col_last nobottommargin">


                            <div id="intro1">
                                <h3 style="text-align:center; margin-bottom:30px;">赛道介绍</h3>
                                <p
                                    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; line-height: 18pt; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                    <span style="font-size: 12pt; font-family: 微软雅黑;">&nbsp; &nbsp; &nbsp;
                                        &nbsp;成都·南山赛道位于“世界级汽车产业城”成都市龙泉驿区成龙大道999号，为成都市经济开发区核心区域。赛道毗邻龙泉山森林公园脚下，公共交通便利、自然环境优美</p>
                                        <p style="white-space: normal;"><span style="font-family: 微软雅黑; font-size: 12pt;">&nbsp;&nbsp;&nbsp;</span><br /></p>
                                
                                        <h4 style="text-align:start; margin-bottom:30px;">赛道数据</h4>
                                <div style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                    <p>赛道全长：1.23公里（含可扩展赛道0.4公里）</p>
                                    <p>弯道数量：8处</p>
                                    <p>沙石路面：2处</p>
                                    <p>路面宽度：12-14.87米</p>
                                    <p>最长直道：170m，可测试百米加速</p>
                                    <p>看台座位数：500个</p>
                                </div>
                                <p><br/></p><p><img src="/images/intro/1.png" style="width: 100%" title="赛道介绍 /images/intro/1.png"/></p><p><br/></p>
                            </div>


                            <div id="intro2">
                                <h3 style="text-align:center; margin-bottom:30px;">后场介绍</h3>
                                <p
                                    style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; line-height: 18pt; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                    <span style="font-size: 12pt; font-family: 微软雅黑;">&nbsp; &nbsp; &nbsp;
                                        &nbsp;最具专业性的多功能综合场地</p>
                                        <p style="white-space: normal;"><span style="font-family: 微软雅黑; font-size: 12pt;">&nbsp;&nbsp;&nbsp;</span><br /></p>
                                
                                        <h4 style="text-align:start; margin-bottom:30px;">场地数据</h4>
                                <div style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                    <p>场地尺寸：长120*宽80米，9600平米</p>
                                    <p>场地电源：380V，60A，点位配电箱</p>
                                    <p>场地供水：定点供水，外接水管</p>
                                    <p>场地厕所：3个，固定洗手间，星级装修标准</p>
                                    <p>场地网络：免费WiFi全场覆盖（建设中）</p>
                                    <p>场地承重：专业级赛道铺装标准、百吨级承重</p>
                                </div>
                                <p><br/></p><p><img src="/images/intro/2.png" style="width: 100%" title="后场介绍 /images/intro/2.png"/></p><p><br/></p>
                            </div>


                            <div id="intro3">
                                <h3 style="text-align:center; margin-bottom:30px;">其他区域</h3>
                                
                                <h4 style="text-align:start; margin-bottom:30px;">1）室内—综合发布大厅</h4>
                                <div style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                    <p>场地尺寸：长52*宽48米*高9米，2500平米无柱层高</p>
                                    <p>场地电源：380V，60A，点位配电箱</p>
                                    <p>场地供水：定点供水，外接水管</p>
                                    <p>场地厕所：2个，固定洗手间，星级装修标准</p>
                                    <p>场地网络：免费WiFi全场覆盖（建设中）</p>
                                    <p>灯光照明：LED光源，200w/个，48个（6排*8个）</p>
                                </div>
                                <p><br/></p>
                                <p>
                                    <img src="/images/intro/3.png" style="width: 100%" title="发布大厅1 /images/intro/3.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/4.png" style="width: 100%" title="发布大厅2 /images/intro/4.png"/>
                                </p>
                                <p><br/></p>
                                
                                <h4 style="text-align:start; margin-bottom:30px;">2）室内—VIP室</h4>
                                <div style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                    <p>房间数量：6个</p>
                                    <p>培训室数量：3个，可连通成一间</p>
                                    <p>房间配套：电视机+沙发+机麻</p>
                                    <p>场地网络：免费WiFi全场覆盖（建设中）</p>
                                </div>
                                <p><br/></p>
                                <p>
                                    <img src="/images/intro/5.png" style="width: 100%" title="vip室1 /images/intro/5.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/6.png" style="width: 100%" title="vip室2 /images/intro/6.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/7.png" style="width: 100%" title="vip室3 /images/intro/7.png"/>
                                </p>
                                <p><br/></p>
                            </div>


                            <!-- <div id="intro4">
                                <h3 style="text-align:center; margin-bottom:30px;">安全及配套设施</h3>
                                <p><img src="picture/15342303403194486.jpg" title="80021.jpg" alt="80021.jpg"/></p>
                            </div> -->


                            <div id="intro5">
                                <h3 style="text-align:center; margin-bottom:30px;">案例</h3>
                                <p style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; line-height: 18pt; direction: ltr; unicode-bidi: embed; word-break: normal;">
                                    <span style="font-size: 12pt; font-family: 微软雅黑;">&nbsp; &nbsp; &nbsp;&nbsp;多种组合，多样化，多种玩法
                                            赛道满足越野车、家用车多种车型试驾适用
                                            可满足新车发布/客户答谢/驾控营等各类型活动
                                            室内室外场地光源设施完善，满足品牌夜场活动需求
                                            场地视野开阔、无限飞限制，具备多角度拍摄环境</span>
                                </p>
                                <p style="white-space: normal;">
                                    <span style="font-family: 微软雅黑; font-size: 12pt;">&nbsp;&nbsp;&nbsp;</span>
                                    <br />
                                </p>
                                <h4 style="text-align:center; margin-bottom:30px;">单一模式</h4>
                                <h5 style="text-align:start; margin-bottom:30px;">1、赛道使用：</h5>
                                <p>
                                    <img src="/images/intro/8.png" style="width: 100%" title="单一模式1 /images/intro/8.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/9.png" style="width: 100%" title="单一模式2 /images/intro/9.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/10.png" style="width: 100%" title="单一模式3 /images/intro/10.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/11.png" style="width: 100%" title="单一模式4 /images/intro/11.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/12.png" style="width: 100%" title="单一模式5 /images/intro/12.png"/>
                                </p>
                                <p><br></p>
                                <h5 style="text-align:start; margin-bottom:30px;">2、室内发布大厅—产品上市：</h5>
                                <p>
                                    <img src="/images/intro/13.png" style="width: 100%" title="室内发布1 /images/intro/13.png"/>
                                </p>
                                <p style="text-align: center;font-size: 12px;font-weight: 600">
                                    <span>(奔驰 A 级)</span>
                                </p>
                                <p>
                                    <img src="/images/intro/14.png" style="width: 100%" title="室内发布1 /images/intro/14.png"/>
                                </p>
                                <p style="text-align: center;font-size: 12px;font-weight: 600">
                                    <span>(领克 02)</span>
                                </p>
                                <p>
                                    <img src="/images/intro/15.png" style="width: 100%" title="室内发布2 /images/intro/15.png"/>
                                </p>
                                <p style="text-align: center;font-size: 12px;font-weight: 600">
                                    <span>(斯威 01)</span>
                                </p>
                                <p><br/></p>
                                <h5 style="text-align:start; margin-bottom:30px;">3、室外多功能试驾场地—夜场活动：</h5>
                                <p>
                                    <img src="/images/intro/16.png" style="width: 100%" title="室外场地1 /images/intro/16.png"/>
                                </p>
                                <p style="text-align: center;font-size: 12px;font-weight: 600">
                                    <span>(奔驰AMG车主俱乐部)</span>
                                </p>
                                <p>
                                    <img src="/images/intro/17.png" style="width: 100%" title="室外场地2 /images/intro/17.png"/>
                                </p>
                                <p style="text-align: center;font-size: 12px;font-weight: 600">
                                    <span>(捷豹“猎·夜”车主派对)</span>
                                </p>
                                <p>
                                    <img src="/images/intro/18.png" style="width: 100%" title="室外场地3 /images/intro/18.png"/>
                                </p>
                                <p style="text-align: center;font-size: 12px;font-weight: 600">
                                    <span>(海纳百川 哈雷争霸赛)</span>
                                </p>
                                <p>
                                    <img src="/images/intro/19.png" style="width: 100%" title="室外场地4 /images/intro/19.png"/>
                                </p>
                                <p style="text-align: center;font-size: 12px;font-weight: 600">
                                    <span>(一汽丰田全系试驾会)</span>
                                </p>
                                <p><br/></p>
                                <p style="white-space: normal;">
                                    <span style="font-family: 微软雅黑; font-size: 12pt;">&nbsp;&nbsp;&nbsp;</span>
                                    <br />
                                </p>
                                <h4 style="text-align:center; margin-bottom:30px;">组合模式</h4>
                                <h5 style="text-align:start; margin-bottom:30px;">1、室内外场地：</h5>
                                <p>
                                    <img src="/images/intro/20.png" style="width: 100%" title="室内外1 /images/intro/20.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/21.png" style="width: 100%" title="室内外2 /images/intro/21.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/22.png" style="width: 220%" title="室内外3 /images/intro/22.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/23.png" style="width: 100%" title="室内外4 /images/intro/23.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/24.png" style="width: 100%" title="室内外5 /images/intro/24.png"/>
                                </p>
                                <p style="text-align: center;font-size: 12px;font-weight: 600">
                                    <span>(综合试驾+夜场+新车发布)</span>
                                </p>
                                <p><br></p>
                                <p style="white-space: normal;">
                                    <span style="font-family: 微软雅黑; font-size: 12pt;">&nbsp;&nbsp;&nbsp;</span>
                                    <br />
                                </p>
                                <p>
                                    <img src="/images/intro/25.png" style="width: 100%" title="室内外6 /images/intro/25.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/26.png" style="width: 100%" title="室内外7 /images/intro/26.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/27.png" style="width: 220%" title="室内外8 /images/intro/27.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/28.png" style="width: 100%" title="室内外9 /images/intro/28.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/29.png" style="width: 100%" title="室内外10 /images/intro/29.png"/>
                                </p>
                                <p style="text-align: center;font-size: 12px;font-weight: 600">
                                    <span>(道路试驾+沥青试驾+培训)</span>
                                </p>
                                <p><br></p>
                                <p style="white-space: normal;">
                                    <span style="font-family: 微软雅黑; font-size: 12pt;">&nbsp;&nbsp;&nbsp;</span>
                                    <br />
                                </p>
                                <h4 style="text-align:center; margin-bottom:30px;">定制化活动</h4>
                                <h5 style="text-align:start; margin-bottom:30px;">根据客户需求整合打包定制：品牌活动、园区广告、媒介资源、赛事产品、品牌定制+试乘试驾+IP赛事活动</h5>
                                <p>
                                    <img src="/images/intro/30.png" style="width: 100%" title="/images/intro/30.png"/>
                                </p>
                                <p style="text-align: center;font-size: 12px;font-weight: 600">
                                    <span>(骑天大圣儿童平衡车锦标赛)</span>
                                </p>
                                <p>
                                    <img src="/images/intro/31.png" style="width: 100%" title="/images/intro/31.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/32.png" style="width: 220%" title="/images/intro/32.png"/>
                                </p>
                                <p style="text-align: center;font-size: 12px;font-weight: 600">
                                    <span>(奔驰  车主派对)</span>
                                </p>
                                <p>
                                    <img src="/images/intro/33.png" style="width: 100%" title="/images/intro/33.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/34.png" style="width: 100%" title="/images/intro/34.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/35.png" style="width: 100%" title="/images/intro/35.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/36.png" style="width: 100%" title="/images/intro/36.png"/>
                                </p>
                                <p>
                                    <img src="/images/intro/37.png" style="width: 100%" title="/images/intro/37.png"/>
                                </p>
                                <p style="text-align: center;font-size: 12px;font-weight: 600">
                                    <span>(保捷行开业庆典活动)</span>
                                </p>
                                <p><br></p>
                            </div>


                        </div>

                    </div>


                </div>

            </div>

        </section><!-- #content end -->




        <!-- Footer
        ============================================= -->
<footer id="footer" class="dark" style="background: url('images/post003.jpg') repeat; background-size: 100% 100%;">

            <div class="container">

                <!-- Footer Widgets
                ============================================= -->
                <div class="footer-widgets-wrap clearfix">

                    <div class="col_two_third">

                        <div class="widget clearfix dark">

                            <img src="picture/foot-logo.png" alt="" class="alignleft" style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #4A4A4A;">

                              <p>成都赤晓是国际标准的赛车场，满足所有驾车一族各种层次的需求。<br>STC代表着我们的经营理念：<strong>S—Service—服务;T—Team—团队；C—Cooperation—合作</strong></p>
  

                        <div class="line" style="margin: 30px 0; text-align:center; color:rgba(255,255,255,0.25);text-shadow:1px 1px 1px rgba(0,0,0,0.1);">
                           Copyrights &copy; 2014 All Rights Reserved by stc2002.com Inc.<br><a style="color:rgba(255,255,255,0.25);text-shadow:1px 1px 1px rgba(0,0,0,0.1);" href="http://www.miibeian.gov.cn" target="_blank">沪ICP备
12001426号-6</a><br><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011702000117"  target="_blank"><img src="picture/beiangov.png"> 沪公网安备31011702000117号</a>
<br><a href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020180611141558000002615288-SAIC_SHOW_310000-
2018091015530028906&signData=MEQCIBJbysm6hfo5WL2B3xOV1/RERuR8elZaD+v3kXFG5bLGAiBYC7WOlVwp3Ba3mt71u0vvdrTYRssPJLu95PIACIBzWQ==" target="_blank"><img src="picture/lz2.jpg" width="20px"></a>
                        </div>


                        </div>

                    </div>

                    <div class="col_one_third col_last">

                        <img src="picture/ewm.jpg" style=" float:right;">

                    </div>

                </div><!-- .footer-widgets-wrap end -->

            </div>

            <!-- Copyrights
            ============================================= -->

        </footer><!-- #footer end -->
    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="fa fa-angle-up"></div>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="/js/functions.js"></script>

</body>
</html>
