<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
    <meta name="renderer" content="webkit"> 
    <meta name="Keywords" content="">

    <meta name="Description" content="">


    <!-- Stylesheets
    ============================================= -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style-all.css" type="text/css" />

    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/plugins.js"></script>


<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?8f6f6a44f08006c8bf1f485c0c1da1af";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

    <!-- Document Title
    ============================================= -->
	<title>STC交通  成都赤晓</title>


</head>
<body class="stretched">

<!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
        ============================================= -->
        <header id="header" class="page-section full-header">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="fa fa-reorder"></i></div>

                    <!-- Primary Navigation
                    ============================================= -->
                    <% include ../nav.ejs %>

                </div>

            </div>

        </header><!-- #header end -->
        <!-- Content
        ============================================= -->
        <section id="content" style="background-color: #222222;color:#fff">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div id="side-navigation">
                       
                       <% include ./left.ejs %>                   
                        

                        <div class="col_three_fourth col_last nobottommargin">

                            <div id="traffic1">
                                    <h3 style="text-align:center; margin-bottom:30px;">地理位置及交通</h3>
                                    <p style="margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; white-space: normal; line-height: 18pt; direction: ltr; unicode-bidi: embed; word-break: normal;text-align: center">
                                        <span style="font-size: 12pt; font-family: 微软雅黑;">位于“世界级汽车产业城”成都市龙泉驿区成龙大道999号 <br>
                                                距成都双流国际机场29公里；距天府国际机场（在建）35公里<br>
                                                距成都东站高铁站13公里；距离成都地铁2号线龙平路站3公里<br>
                                                两条公交线路313、332直达市区，站点名称：成龙路龙一环路口<br>
                                                以成渝高速公路、成南高速公路、老成渝路、成洛路、成龙路及三环路、绕城高速公路、成环路为主体的“五横三纵”公路交通格局</span>
                                    </p>
                                    <p>
                                        <br/>
                                    </p>
                                    <p style="text-align: center">
                                        <img src="/images/intro/44.png" />
                                    </p>
                                    <p style="white-space: normal;">
                                        <span style="font-family: 微软雅黑; font-size: 12pt;">&nbsp;&nbsp;&nbsp;</span>
                                        <br />
                                    </p>
                            </div>


                        </div>

                    </div>


                </div>

            </div>

        </section><!-- #content end -->




        <!-- Footer
        ============================================= -->
<footer id="footer" class="dark" style="background: url('images/post003.jpg') repeat; background-size: 100% 100%;">

            <div class="container">

                <!-- Footer Widgets
                ============================================= -->
                <div class="footer-widgets-wrap clearfix">

                    <div class="col_two_third">

                        <div class="widget clearfix dark">

                            <img src="picture/foot-logo.png" alt="" class="alignleft" style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #4A4A4A;">

                              <p>成都赤晓是国际标准的赛车场，满足所有驾车一族各种层次的需求。<br>STC代表着我们的经营理念：<strong>S—Service—服务;T—Team—团队；C—Cooperation—合作</strong></p>
  

                        <div class="line" style="margin: 30px 0; text-align:center; color:rgba(255,255,255,0.25);text-shadow:1px 1px 1px rgba(0,0,0,0.1);">
                           Copyrights &copy; 2014 All Rights Reserved by stc2002.com Inc.<br><a style="color:rgba(255,255,255,0.25);text-shadow:1px 1px 1px rgba(0,0,0,0.1);" href="http://www.miibeian.gov.cn" target="_blank">沪ICP备
12001426号-6</a><br><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011702000117"  target="_blank"><img src="picture/beiangov.png"> 沪公网安备31011702000117号</a>
<br><a href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020180611141558000002615288-SAIC_SHOW_310000-
2018091015530028906&signData=MEQCIBJbysm6hfo5WL2B3xOV1/RERuR8elZaD+v3kXFG5bLGAiBYC7WOlVwp3Ba3mt71u0vvdrTYRssPJLu95PIACIBzWQ==" target="_blank"><img src="picture/lz2.jpg" width="20px"></a>
                        </div>


                        </div>

                    </div>

                    <div class="col_one_third col_last">

                        <img src="picture/ewm.jpg" style=" float:right;">

                    </div>

                </div><!-- .footer-widgets-wrap end -->

            </div>

            <!-- Copyrights
            ============================================= -->

        </footer><!-- #footer end -->
    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="fa fa-angle-up"></div>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="/js/functions.js"></script>

</body>
</html>
