<div class="span3">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <li>
        <a href="/backstage/home"><i class="icon-home"></i> 首页编辑</a>
      </li>
      <li class="nav-header">
        Akira
      </li>
      <li>
        <a href="/backstage/imgUpload"><i class="icon-home"></i> 图片上传</a>
      </li>
      <li>
        <a href="/backstage/contact"><i class="icon-folder-open"></i> 联系我们</a>
      </li>
      <li>
        <a href="/backstage/news"><i class="icon-check"></i> 新闻发布</a>
      </li>
      <li>
        <a href="/backstage/day"><i class="icon-check"></i> 开放日</a>
      </li>
      <li class="nav-header">
        经营服务
      </li>
      <li>
        <a href="/backstage/service"><i class="icon-user"></i> 首页</a>
      </li>
      <li>
        <a href="/backstage/service/r"><i class="icon-cog"></i> 租赁</a>
      </li>
      <li>
        <a href="/backstage/service/c"><i class="icon-user"></i> 平行车</a>
      </li>
      <li>
        <a href="/backstage/service/a"><i class="icon-cog"></i> 广告</a>
      </li>
      <li class="nav-header">
        赛事活动
      </li>
      <li>
        <a href="/backstage/event"><i class="icon-info-sign"></i> 首页</a>
      </li>
      <li>
        <a href="/backstage/event/zlq"><i class="icon-info-sign"></i> 战龙泉</a>
      </li>
      <li>
        <a href="/backstage/event/crc"><i class="icon-info-sign"></i> crc</a>
      </li>
    </ul>
  </div>
</div>