<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

  <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta name="Keywords" content="">

  <meta name="Description" content="">


  <!-- Stylesheets
    ============================================= -->
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style-all.css" type="text/css" />

  <link rel="shortcut icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <!-- External JavaScripts
    ============================================= -->
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/plugins.js"></script>
  <style>
    .tcen {
      text-align: center;
    }
    .tcolor {
      color: #fec400;
    }
  </style>

  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?8f6f6a44f08006c8bf1f485c0c1da1af";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

  <!-- Document Title
    ============================================= -->
  <title>赛车学校 成都赤晓</title>


</head>

<body class="stretched">

  <!-- Document Wrapper
    ============================================= -->
  <div id="wrapper" class="clearfix">

    <!-- Header
        ============================================= -->
    <header id="header" class="page-section full-header">

      <div id="header-wrap">

        <div class="container clearfix">

          <div id="primary-menu-trigger"><i class="fa fa-reorder"></i></div>

          <% include ../nav.ejs %>

        </div>

      </div>

    </header><!-- #header end -->


    <!-- Content
        ============================================= -->
    <section id="content" style="background-color:#222222;color:#fff">

      <div class="content-wrap">

        <div class="container clearfix">

          <!-- Post Content
                    ============================================= -->
          <div class="postcontent nobottommargin col_last clearfix">

            <div class="clear"></div>

            <div id="faqs" class="faqs">

              <div class="toggle faq 赛车学校">
                <div class="togglet" style="font-family: 微软雅黑, Microsoft YaHei; font-size: 14px;">
                  <h3 class="tcen tcolor">关于成都赤晓赛车学校</h3>
                  <p>成都赤晓赛车学校是由中国汽车运动联合会批准，于2018年2月正式成立的专业驾驶培训机构。耗资近千万的赛道、国内一流的教官、全国领先的教材、改装精良的赛车......旨在让更多怀有赛车梦的人通过科学、有效的授课，在最短时间内，掌握和更新自己的驾驶技术，同时通过赤晓赛车队，学员可以更加便捷的参加省内以及全国的各类型赛事。</p>
                  <p>赤晓赛车学校本着“圆梦”、“育人”、“传承”的理念，着力拓造金字塔底座，为汽车运动作出贡献，担当提升安全驾驶的社会责任。</p>
                  <br>
                  <h4 class="tcen tcolor">培训场地</h4>
                  <p class="tcen"><img src="/images/carsport/1.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/2.png" alt=""></p>
                  <br>
                  <h4 class="tcen tcolor">培训课程安排</h4>
                  <h5>
                    <span class="fa fa-flag-checkered " style="font-size: 25px"></span>
                    飘移培训课程安排：</h5>
                  <p>
                    <span class="fa fa-circle" style="color:#fec400">DAY 1&nbsp;&nbsp;</span>
                    <span>学员签到\资料装备领取</span>
                  </p>
                  <p>
                      开学仪式；<br>
                      赛车安全理论知识（赛车体验\定圆飘移，一档起飘练习）；<br>
                      大圆飘移讲解、练习；<br>
                  </p>
                  <p>
                    <span class="fa fa-circle" style="color:#fec400">DAY 2&nbsp;&nbsp;</span>
                    <span>8字飘移讲解、练习</span>
                  </p>
                  <p>
                      手刹过弯飘移、分解动作练习；<br>
                      大圆巩固练习、8字巩固练习；
                  </p>
                  <p>
                    <span class="fa fa-circle" style="color:#fec400">DAY 3&nbsp;&nbsp;</span>
                    <span>手刹过弯练习、连贯动作练习；</span>
                  </p>
                  <p>
                      学员新秀考核赛\毕业典礼；
                  </p>

                  <br>
                  <br>

                  <h5>
                    <span class="fa fa-flag-checkered " style="font-size: 25px"></span> 拉力培训课程安排
                  </h5>
                  <p>
                    <span class="fa fa-circle" style="color:#fec400">DAY 1&nbsp;&nbsp;</span>
                    <span>学员签到\资料装备领取</span>
                  </p>
                  <p>
                      开学仪式；<br>
                      理论培训；<br>
                      起步、加减档、联合制动；<br>
                      路书讲解、如何制作路书；<br>
                  </p>
                  <p>
                    <span class="fa fa-circle" style="color:#fec400">DAY 2&nbsp;&nbsp;</span>
                    <span>蝴蝶桩、三角桩、S桩训练（讲解\练习）</span>
                  </p>
                  <p>
                      手刹练习（讲解\练习）；<br>
                      弯道训练（讲解\练习）；
                  </p>
                  <p>
                    <span class="fa fa-circle" style="color:#fec400">DAY 3&nbsp;&nbsp;</span>
                    <span>弯道训练（讲解\练习）</span>
                  </p>
                  <p>
                      全场跟车走线、全场摆桩练习；<br>
                      培训理论考试、毕业赛颁奖
                  </p>
                  <br>
                  <h4 class="tcen tcolor">往期培训回顾</h4>
                  <h5>
                      <span class="fa fa-bookmark "></span> 拉力培训课程安排
                  </h5>
                  <h5>
                      <span class="fa fa-calendar "></span> 培训时间：2018年6月20日-21日
                  </h5>
                  <p class="tcen"><img src="/images/carsport/3.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/4.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/5.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/6.png" alt=""></p>
                  <br>
                  <h5>
                      <span class="fa fa-bookmark "></span> 2018年 18157期拉力B照培训
                  </h5>
                  <h5>
                      <span class="fa fa-calendar "></span> 培训时间：2018年9月21日-23日
                  </h5>
                  <p class="tcen"><img src="/images/carsport/7.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/8.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/9.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/10.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/11.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/12.png" alt=""></p>
                  <br>
                  <h5>
                      <span class="fa fa-bookmark "></span> 2019年 19016期拉力B照培训
                  </h5>
                  <h5>
                      <span class="fa fa-calendar "></span> 培训时间：2019年3月8日-10日
                  </h5>
                  <p class="tcen"><img src="/images/carsport/13.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/14.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/15.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/16.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/17.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/18.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/19.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/20.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/21.png" alt=""></p>
                  <br>
                  <h5>
                      <span class="fa fa-bookmark "></span> 2019年 19081期飘移培训班
                  </h5>
                  <h5>
                      <span class="fa fa-calendar "></span> 培训时间：2019年5月1日-8日
                  </h5>
                  <p class="tcen"><img src="/images/carsport/22.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/23.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/24.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/25.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/26.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/27.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/28.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/29.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/30.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/31.png" alt=""></p>
                  <p class="tcen"><img src="/images/carsport/32.png" alt=""></p>
                  <br>
                </div>
              </div>
            </div>
          </div>
          <% include ../newLeft.ejs %>

        </div>

      </div>

    </section><!-- #content end -->

    <% include ../footer.ejs %>

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="fa fa-angle-up"></div>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="/js/functions.js"></script>

</body>

</html>